@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-flow-circular: "Flow Circular", sans-serif;
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}